* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #3969b2;
  font-family: Helvetica, Arial, sans-serif;
}

header {
  height: 180px;
  background-color: lightgoldenrodyellow;
}

header a {
  text-decoration: none;
}

header h1 {
  display: inline;
  padding: 0 0 0 20px;
}

header img {
  display: inline;
  margin: 5px
}

header nav {
  margin: 7px 30px;
  float: right;
}

.about-me {
  display: inline-flex;
  height: 150px;
}

.about-me h2 {
  padding: 20px;
}

.about-me-text {
  display: block;
}

#about p {
  max-width: 80%;
  margin: 0 auto;
  padding:5px;
}

.work {
  display: inline-flex;
  height: 100px;
}

.work h2 {
  padding: 20px;
}

.work-grid-container {
  max-width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(2, 25px);
  grid-gap: 5px;
  float: right;
}

.work-grid-item {
  width: 90px;
  height: 50px;
  background-color: orange;
  border: solid;
  border-radius: 15px;
  color: black;
  margin: 0 auto;
  padding: 5px;
  font-size: 12px;
  text-align: center;
}

.work-grid-item:hover {
  width: 100px;
  height: 60px;
}

.work-grid-item p {
  display: none;
}

.work-grid-item:hover p {
  display: block;
  font-weight: 600;
}

.rbu {
  width: 180px;
}

.rbu:hover {
  width:200px;
  height: 60px;
}

.work-grid-item button {
  background-color: #fff;
  height: 35px;
  width: 70px;
  font-size: 12px;
  font-weight: 700;
  border-radius: 15px;
}

.rbu button {
  width: 140px;
}

.work-grid-item button:hover {
  background-color: black;
  color: white;
}

.project {
  display: inline-flex;
  height: 100px;
}

.project h2 {
  padding: 20px;
}

.project-grid-container {
  max-width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(2, 25px);
  grid-gap: 5px;
  float: right;
}

.project-grid-item {
  width: 90px;
  height: 50px;
  background-color: orange;
  border: solid;
  border-radius: 15px;
  color: black;
  margin: 10px 0 0 10px;
  padding: 10px;
  font-size: 12px;
  text-align: center;
}

.contact-me {
  display: inline-flex;
  height: 50px;
}

.contact-me h2 {
  padding: 20px;
}

.contact-info {
  max-width: 80%;
  margin: 20px 200px;
  float: left;
}

/* media queries */
@media screen and (min-width: 1024px) {
  body {
    background-color: white;
  }
}

@media screen and (min-width: 800px) {
  body {
    background-color: lightgoldenrodyellow;
  }
}

@media screen and (min-width: 640px) {
    body {
      background-color: lightyellow;
  }
}